<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bilab.lunsenluandroid">
    <!--
     網路權限
    <uses-permission android:name="android.permission.INTERNET" />
    -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/logo_white"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2">

        </activity>
        <activity android:name=".LoadingActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity">

        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" >

        </activity>
        <activity android:name=".AccountMainActivity" />
        <activity android:name=".AccountPasswordActivity" />
        <activity android:name=".DoctorAuthActivity" />
        <activity android:name=".DoctorInsertActivity" />
        <activity android:name=".HealthPassActivity" />
        <activity android:name=".PrivacyPolicyActivity" />
        <activity android:name=".PrivacyPolicy2Activity" />
    </application>

</manifest>